::webkit-scrollbar {
  width: 25px;
}
::-webkit-scrollbar-track {
  background: red;
}
::-webkit-scrollbar-thumb {
  background-image: linear-gradient(red, yellow);
}
::-webkit-scrollbar-thumb:hover {
  background-image: linear-gradient(#ee0970, #ff6a00);
}
